# === TELEGRAM ===
BOT_TOKEN=8497513697:AAGQmzkxwpT3ef3fxk1khygfxedrE_WabZQ

# === CHATS ===
ADMIN_CHAT_ID=-1003121116953
OPERATORS_CHAT_ID=-1003140126302
FALLBACK_CHAT_ID=-1003140126302

# === OWNERS / ADMINS ===
OWNER_TG_ID=2107501805
POWER_ADMINS=2107501805 6834255709 7266496686 7403734055

# === DATABASE ===
POSTGRES_DSN=postgresql://fastbot_db_user:ezSpFS6XNvr9q5pdxv1EOCJWIWg2NJxb@dpg-d3rbdg9r0fns73csqmvg-a.oregon-postgres.render.com/fastbot_db_uye4

# === BEHAVIOUR SETTINGS ===  
SLA_WAIT_SECONDS=300
SLA_REPORT_EVERY_MIN=30
BROADCAST_RATE=20

# === SMART ACTION PROMPTS ===
ACTION_EVERY=5
ACTION_COOLDOWN_HOURS=24

# === CLIENT LINKS ===
SUPPORT_LINK=https://t.me/TURBO_MONEY_ROBOT
HOWTO_LINK=https://telegra.ph/kak-poluchit-200r-za-10-minut-10-21
REF_BONUS_10=555

# === WEBHOOK ===
WEBHOOK_BASE=
WEBHOOK_PATH=/webhook
WEBHOOK_SECRET=
